@charset 'UTF-8';

@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

.bookmark-container {
  display:none;
  z-index:21;
  position:absolute;
  top:calc(100% + 0.8rem);
  right:-3rem;
  width:32.8rem;
  background-color:#fff;
  border-radius:2rem;
  border:1px solid #e5e5e5;
  box-shadow: 0px 20px 50px 0 rgba(0, 0, 0, 0.05);
  &.active {
    display:block;
  }
  .bookmark-box {
    padding:3rem;

    .bookmark-lists {
      .bookmark-list {
        position:relative;
        @include set-flex(row, space-between, center);
        margin:1.7rem 0 0;
        padding:1.7rem 0 0;
        border-top:1px solid #e5e5e5;
        &:first-child {
          margin-top:0;
          padding-top:0;
          border-top:0;
        }

        .label {
          @include set-font(1.4rem, 400, #000, normal);
        }

        .bookmark {
          .btn-bookmark {
            width:1.2rem;
            height:1.1rem;
            background:asset-image('ic_bookmark_nor.png') no-repeat center / 1.2rem 1.1rem;
            &.active {
              background:asset-image('ic_bookmark_sel.png') no-repeat center / 1.2rem 1.1rem;
            }
          }
        }
      }
    }
  }
}