@charset 'UTF-8';

@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins';

// COMMON
.MuiButtonBase-root {
  &:not(.Mui-selected) {
    border: 0;
    color: rgba(0, 0, 0, 0.9);
  }
}

.MuiButtonBase-root {
  &.MuiMenuItem-gutters {
    font-size: 1.3rem;
  }
  &.Mui-selected {
    border: 0;
    background-color: #ff9a9e;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 400;
  }
}

/* Theme Dark */
.theme-dark {
  button {
    &.MuiButton-textPrimary,
    &.MuiButton-containedPrimary {
      background-color: #f24851;
      color: rgba(255, 255, 255, 0.9);
      &:hover {
        background-color: #f24851;
      }
    }
    &.MuiButton-textSecondary,
    &.MuiButton-containedSecondary {
      background-color: #5c5c5c;
      color: rgba(255, 255, 255, 0.9);
      &:hover {
        background-color: #5c5c5c;
      }
    }
  }

  /* checkbox */
  .MuiButtonBase-root {
    &.MuiCheckbox-root {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0;
      border-radius: 0;
      background: asset-image('ic_checkbox_nor_br.png') no-repeat center / 1.5rem;
      &.Mui-checked {
        background: asset-image('ic_checkbox_sel_br.png') no-repeat center / 1.5rem;
      }

      svg {
        display: none;
      }
    }
  }

  /* button checkbox */
  .button-checkbox-container {
    .button-checkbox {
      .MuiFormControlLabel-root {
        .MuiCheckbox-root {
          &.Mui-checked {
            + .MuiTypography-root {
              background-color: #f24851;
            }
          }
        }
      }
    }
  }

  /* Switch */
  span {
    &.MuiSwitch-root {
      .MuiButtonBase-root {
        &.Mui-checked {
          + .MuiSwitch-track {
            background-color: #f24851;
          }
        }
      }
    }
  }

  /* tab */
  .MuiPaper-root {
    &.tab-container {
      margin: 1rem 0;
      border: 0;
      border-bottom: 1px solid #d8d8d8;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
      .MuiTabs-root {
        .MuiButtonBase-root {
          &.Mui-selected {
            border: 1px solid #f24851;
            color: #f24851;
          }
        }

        .MuiTabs-indicator {
          background-color: #f24851;
        }
      }
    }
  }
}

.material-ui-container {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-bottom: 1px solid #999;
}

// Material-ui Button //
button {
  &.MuiButtonBase-root {
    min-width: 8.7rem;
    height: 3.2rem;
    padding: 0 2.2rem;
    border-radius: 0.6rem;
    @include set-font(1.3rem, normal, $font-color, normal);
    box-shadow: none;
    letter-spacing: unset;
    text-transform: unset;
    .MuiButton-label {
      @include set-font(1.3rem, 400, #000, normal);
    }
  }

  &.MuiButton-textPrimary,
  &.MuiButton-containedPrimary {
    background-color: $primary;

    &:hover {
      background-color: $primary;
    }

    &:focus-visible {
      outline: 2px solid #333;
    }
  }
  &.MuiButton-textSecondary,
  &.MuiButton-containedSecondary {
    background-color: #eee;

    &:hover {
      background-color: #eee;
    }

    &:focus-visible {
      outline: 2px solid #333;
    }
  }

  &.MuiButton-contained {
    &.btn-border {
      border: 1px solid #d8d8d8;
      background-color: #fff;
      @include set-font(1.3rem, normal, $font-color, normal);
    }
  }
}

.MuiButton-label {
  font-size: 1.4rem;
}

.filter-container {
  .filter-box {
    .field {
      @include set-flex(row, flex-start, center);
      &.flex-start {
        @include set-flex(row, flex-start, flex-start);
        label {
          margin-top: 0.6rem;
        }
      }
      label {
        position: static;
        @include set-font(1.3rem, 700, $font-color, normal);
        letter-spacing: unset;
        transform: none;
        &.required {
          &:after {
            content: '*';
            margin-left: 0.4rem;
            @include set-font(1.3rem, 700, rgba(242, 72, 81, 0.9), normal);
          }
        }
      }
    }
  }
}

/* INPUT */
.MuiInputBase-root {
  .MuiInputBase-input {
    height: 3.4rem;
    padding: 0 1.5rem 0 1.3rem;
    border: 1px solid transparent;
    border-bottom-color: #d8d8d8;
    background-color: transparent;
    @include set-font(1.4rem, 400, #191919, normal);
    box-sizing: border-box;
  }
}

.MuiInput-underline {
  &:before,
  &:after {
    display: none;
  }
}

/* TextField */
.MuiInput-root {
  textarea {
    &.MuiInput-input {
      height: auto;
      padding: 1rem 1.4rem !important;
      border: 1px solid #d8d8d8;
      border-radius: 0.4rem;
      background-color: #fff;
      @include set-font(1.4rem, 400, #191919, normal);
      //resize: none;
    }
  }
}
.MuiTextField-root {
  .MuiInputBase-input {
    height: auto;
    padding: 1rem 1.4rem;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    background-color: #fff;
    @include set-font(1.4rem, 400, #191919, normal);
  }
  .MuiOutlinedInput-root {
    padding: 0;
    &.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border: 2px solid $primary;
      }
    }
    &:hover {
      .MuiOutlinedInput-notchedOutline {
        border: 2px solid $primary;
      }
    }
    .MuiOutlinedInput-notchedOutline {
      top: 0;
      border: 1px solid #d8d8d8;
    }
  }
}

/* datepicker popup */
div {
  .rs-picker-toggle-wrapper {
    min-width: 24rem;
  }
  .rs-picker.rs-picker-date .rs-picker-toggle,
  .rs-picker.rs-picker-daterange .rs-picker-toggle {
    padding: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
    box-shadow: none;
  }
  .rs-picker.rs-picker-date .rs-picker-toggle .rs-picker-toggle-placeholder,
  .rs-picker.rs-picker-date .rs-picker-toggle input,
  .rs-picker.rs-picker-daterange .rs-picker-toggle .rs-picker-toggle-placeholder,
  .rs-picker.rs-picker-daterange .rs-picker-toggle input {
    position: relative;
    height: 3.4rem;
    padding: 1rem 2rem 1rem 1.4rem;
    line-height: 3.4rem;
  }
  .rs-picker.rs-picker-date .rs-picker-toggle input,
  .rs-picker.rs-picker-daterange .rs-picker-toggle input {
    border: 1px solid transparent;
    border-bottom-color: #d8d8d8;
    opacity: 1;
    background-color: transparent;
    background: asset-image('ic_calender.png') no-repeat center;
  }
  .rs-picker.rs-picker-date .rs-picker-toggle input {
    width: 24rem;
    margin-right: -8rem;
  }
  .rs-picker.rs-picker-date .rs-picker-toggle .rs-picker-toggle-placeholder,
  .rs-picker.rs-picker-daterange .rs-picker-toggle .rs-picker-toggle-placeholder {
    z-index: 21;
    top: 1px;
    display: none;
    width: 100%;
    padding: 0 2.7rem 0 0.7rem;
    line-height: 3.2rem;
  }
  .rs-picker.rs-picker-date .rs-picker-toggle,
  .rs-picker.rs-picker-daterange .rs-picker-toggle {
    padding: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
    box-shadow: none;
    font-size: 1.4rem;
  }
  .rs-picker.rs-picker-date .rs-picker-toggle .rs-picker-toggle-value,
  .rs-picker.rs-picker-daterange .rs-picker-toggle .rs-picker-toggle-value {
    display: none;
  }

  .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,
  .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
    top: 50%;
    margin-top: -0.9rem;
    font-size: 1.2rem;
  }
  .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-caret {
  }
  .rs-picker-date {
    padding-right: 8rem;
    .rs-picker-toggle {
      input {
        width: 14rem;
      }
    }
  }
  .rs-picker-daterange {
  }
  &.rs-picker-menu {
    border: 1px solid #e5e5e5;
    border-radius: 2rem;
    box-shadow: none;
    &:not(.rs-picker-daterange-menu) {
      .rs-calendar {
        .rs-calendar-view {
          .rs-calendar-table {
            .rs-calendar-table-row {
              .rs-calendar-table-cell {
                &:before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    .rs-picker-daterange-header {
      display: none;
    }

    .rs-picker-daterange-calendar-group {
      display: flex;
      height: 30.8rem;
    }

    .rs-calendar {
      width: 24.5rem;
      height: 100%;
      min-height: auto;
      padding-bottom: 0;
      &:first-child {
        border-right: 1px solid #e5e5e5;
      }
      .rs-calendar-header {
        width: 24rem;
        margin: 0 auto;
        padding: 0 0 0.3rem 0;
        border-bottom: 1px solid #e5e5e5;
        .rs-calendar-header-month-toolbar {
          @include set-flex(row, center, center);
          height: 3.4rem;
          padding: 0;
          &::before,
          &::after {
            display: none;
          }
          float: none;
          .rs-calendar-header-backward {
            float: none;
            width: 1.8rem;
            height: 1.9rem;
            padding: 0;
            background: asset-image('ic_calender_left.png') no-repeat center / 1.8rem 1.9rem;
            box-shadow: none;
            svg {
              display: none;
            }
          }
          .rs-calendar-header-title {
            width: 13rem;
            margin: 0 4rem;
            padding: 0;
            @include set-font(2rem, 700, rgba(0, 0, 0, 0.9), normal);
            &:focus {
              border-radius: 0.6rem;
              background-color: #e5e5e5;
              box-shadow: none;
            }
          }
          .rs-calendar-header-forward {
            float: none;
            width: 1.8rem;
            height: 1.9rem;
            padding: 0;
            background: asset-image('ic_calender_right.png') no-repeat center / 1.8rem 1.9rem;
            box-shadow: none;
            svg {
              display: none;
            }
          }
        }
      }

      .rs-calendar-view {
        padding: 1.3rem 1.5rem 1.3rem;
        .rs-calendar-table {
          display: block;
          .rs-calendar-table-row {
            @include set-flex(row, space-between, center);
            height: 3rem;
            margin-top: 0.6rem;
            &:first-child {
              margin-top: 0;
            }

            /* 요일 */
            &.rs-calendar-table-header-row {
              height: auto;
              .rs-calendar-table-cell {
                height: auto;
                &:first-child {
                  .rs-calendar-table-cell-content {
                    color: #f24851;
                  }
                }
                &:hover {
                  .rs-calendar-table-cell-content {
                    height: auto;
                    background-color: transparent;
                  }
                }
                .rs-calendar-table-cell-content {
                  height: auto;
                  line-height: normal;
                }
              }
            }

            .rs-calendar-table-cell {
              width: 3.1rem;
              height: 3.1rem;
              &:first-child {
                &:before {
                  border-top-left-radius: 20.5px;
                  border-bottom-left-radius: 20.5px;
                }
                .rs-calendar-table-cell-content {
                  color: #f24851;
                }
              }

              &:last-child {
                &:before {
                  border-top-right-radius: 20.5px;
                  border-bottom-right-radius: 20.5px;
                }
              }

              &:hover {
                .rs-calendar-table-cell-content {
                  height: 3.1rem;
                  background-color: #ff9a9e;
                  color: #fff;
                }
              }

              &:before {
                opacity: 0.3;
                top: 0;
                left: -0.1rem;
                width: calc(100% + 0.2rem);
                height: calc(100% + 0.2rem);
                margin: 0;
                background-color: #f8c4c6;
              }

              // 오늘
              // by 최현일
              // 아니 대체 today에 background-color를 왜넣나요? 오늘만 강조해야 하는 이유가 있음?
              // &.rs-calendar-table-cell-is-today {
              //   .rs-calendar-table-cell-content {
              //     color: #fff;
              //     background-color: #f24851;
              //   }
              // }

              // 날짜 선택
              &.rs-calendar-table-cell-selected {
                .rs-calendar-table-cell-content {
                  background-color: #f8c4c6;
                  color: #fff;
                }
              }

              // 날짜 범위 시작
              &.rs-calendar-table-cell-selected-start {
                &:before {
                  border-top-left-radius: 20.5px;
                  border-bottom-left-radius: 20.5px;
                }
              }

              // 날짜 범위 종료
              &.rs-calendar-table-cell-selected-end {
                &:before {
                  border-top-right-radius: 20.5px;
                  border-bottom-right-radius: 20.5px;
                }
              }

              // 날짜 범위
              &.rs-calendar-table-cell-in-range {
                &:hover {
                  &:before {
                    content: '';
                    display: block;
                    opacity: 0.3;
                    top: 0;
                    left: -0.1rem;
                    width: calc(100% + 0.2rem);
                    height: calc(100% + 0.2rem);
                    margin: 0;
                    background-color: #f8c4c6;
                  }
                }
              }

              .rs-calendar-table-cell-content {
                width: 100%;
                height: 3.1rem;
                padding: 0;
                border: 0;
                border-radius: 100%;
                box-shadow: none;
                @include set-font(1.4rem, 400, rgba(0, 0, 0, 0.9), 3.1rem);
              }
            }
          }
        }
      }
    }

    .rs-picker-toolbar {
      margin-top: 0;
      border-top: 1px solid #e5e5e5;
      padding: 1rem 1.5rem;
      .rs-btn {
        background-color: #eee;
        border-radius: 0.6rem;
        @include set-font(1.3rem, normal, $font-color, normal);
        &.rs-btn-primary {
          background-color: $primary;
          color: rgba(1, 1, 1, 0.9);
        }
      }
      .rs-picker-toolbar-ranges {
        margin: 0 -0.5rem;
        .rs-btn {
          margin: 0 0.5rem;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .rs-calendar-month-dropdown {
      top: 5.6rem;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;

      .rs-calendar-month-dropdown-row {
        padding: 0.6rem 1.8rem 0.6rem 6.2rem;
        border-bottom: 1px solid #e5e5e5;
        &:last-child {
          border-bottom: 0;
        }
        .rs-calendar-month-dropdown-year {
          @include set-font(1.4rem, 700, rgba(0, 0, 0, 0.9), normal);
          &.rs-calendar-month-dropdown-year-active {
            color: #ff9a9e;
          }
        }

        .rs-calendar-month-dropdown-list {
          @include set-flex(row, space-between, center);
          flex-wrap: wrap;
          width: 100%;

          .rs-calendar-month-dropdown-cell {
            float: none;
            margin: 0;
            &.rs-calendar-month-dropdown-cell-active {
              .rs-calendar-month-dropdown-cell-content {
                background-color: #ff9a9e;
              }
            }

            &.disabled {
              .rs-calendar-month-dropdown-cell-content {
                text-decoration: none;
                color: rgba(0, 0, 0, 0.4) !important;
                background-color: transparent !important;
              }
            }
            .rs-calendar-month-dropdown-cell-content {
              padding: 0;
              border-radius: 100%;
              @include set-font(1.4rem, 400, rgba(0, 0, 0, 0.9), 3.2rem);
              &:hover {
                background-color: #ff9a9e;
              }
            }
          }
        }
      }
    }
  }
}

/* Search */
.field-type-search {
  .MuiInputBase-root {
    position: relative;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }

    .MuiInputBase-input[type='search'] {
      padding-left: 4rem;

      &::-webkit-search-cancel-button {
        appearance: none;
        position: relative;
        right: 0;
        width: 1rem;
        height: 1rem;
        background: asset-image('ic_close.png') no-repeat center / 1rem;
      }
    }

    .MuiInputAdornment-root {
      position: absolute;
      left: 1.2rem;
      margin-left: 0;
      button {
        min-width: auto;
        width: 1.6rem;
        padding: 0;
        background: asset-image('ic_search.png') no-repeat center / 1.6rem;
        svg {
          display: none;
        }
      }
    }
  }
}

/* select */
.select-box {
  position: relative;
  @include set-flex(row, flex-start, center);
  width: 100%;
  border-bottom: 1px solid #cccccc;
  > label {
    position: static;
    display: block;
    width: calc(100% - 1.6rem);
    max-width: 100%;
    @include set-font(1.4rem, 400, #000, normal);
    letter-spacing: 0;
    transform: none !important;
    &.MuiInputLabel-shrink {
      display: none;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    display: block;
    min-width: 1.3rem;
    height: 1.3rem;
    margin-left: 0.7rem;
    background: asset-image('components_drop_down.png') no-repeat center / 1.3rem;
    background-position: calc(100% - 9px) auto;
  }
  // &:after {
  //   content: '';
  //   position: absolute;
  //   top: 50%;
  //   right: 0;
  //   transform: translateY(-50%);
  //   display: block;
  //   min-width: 1.1rem;
  //   height: 0.6rem;
  //   margin-left: 0.7rem;
  //   background: asset-image('ic_more.png') no-repeat center / 1.1rem 0.56rem;
  // }
  .MuiOutlinedInput-root {
    position: static;
    width: 100%;
    height: 100%;
    min-height: 1.7rem;
    border-radius: 0;
    .MuiSelect-select {
      width: 100%;
      padding: 0.85rem 1.8rem 0.85rem 0.7rem;
      border-radius: 0;
      border: 0;
      background-color: transparent;
      @include set-font(1.3rem, 400, #000, normal);
      letter-spacing: 0;
      span {
        display: none;
      }
    }

    .MuiOutlinedInput-notchedOutline {
      top: 0;
      border: 0;
      border-radius: 0;
      background-color: transparent;
    }
  }

  .MuiSelect-icon {
    display: none;
  }
}

div {
  &.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    border-radius: 0.4rem;
    border: 0;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
      0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
      @include set-font(1.4rem, 400, #000, normal);
    }
  }
}

/* checkbox */
.MuiButtonBase-root {
  &.MuiCheckbox-root {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border-radius: 0;
    background: asset-image('ic_checkbox_nor_wp.png') no-repeat center / 1.5rem;
    &.Mui-checked {
      background: asset-image('ic_checkbox_sel_wp.png') no-repeat center / 1.5rem;
    }

    svg {
      display: none;
    }
  }
}

/* button checkbox */
.button-checkbox-container {
  .button-checkbox {
    .MuiFormControlLabel-root {
      margin: 0.35rem 0.7rem 0.35rem 0;
      .MuiCheckbox-root {
        display: none;
        &.Mui-checked {
          + .MuiTypography-root {
            background-color: $primary;
          }
        }
      }
      .MuiTypography-root {
        margin-left: 0;
        padding: 0.34rem 1.3rem 0.36rem;
        border-radius: 1.2rem;
        background-color: #bcbcbc;
        @include set-font(1.4rem, 400, #fff, normal);
      }
    }
  }
}

label {
  &.MuiFormControlLabel-root {
    margin: 0;
    .MuiTypography-root {
      margin-left: 1.4rem;
      @include set-font(1.3rem, 400, rgba(1, 1, 1, 0.9), normal);
      letter-spacing: 0;
    }
  }
}

/* radio */
.MuiFormControlLabel-root {
  margin: 0;
  .MuiRadio-root {
    padding: 0;
    user-select: none;
    .MuiSvgIcon-root {
      font-size: 2rem;
    }
    color: #666;
    &.Mui-checked {
      color: #ff9a9e;
    }
  }
  .css-ahj2mt-MuiTypography-root {
    margin-left: 1.4rem;
    @include set-font(1.3rem, 400, rgba(1, 1, 1, 0.9), normal);
    letter-spacing: 0;
  }
}

.theme-dark {
  .MuiFormControlLabel-root .MuiRadio-root.Mui-checked {
    color: #f24851;
  }
}

/* Switch */
span {
  &.MuiSwitch-root {
    width: 4.6rem;
    height: 2rem;
    padding: 0;
    .MuiButtonBase-root {
      top: 50%;
      margin-top: -0.8rem;
      padding: 0 0.2rem;
      border-radius: 1rem;
      &.Mui-checked {
        color: #fff;
        transform: translateX(26px);
        + .MuiSwitch-track {
          background-color: #ff9a9e;
        }
      }

      .MuiSwitch-input {
      }

      .MuiSwitch-thumb {
        border-radius: 1rem;
        width: 1.6rem;
        height: 1.6rem;
      }
    }
    .MuiSwitch-track {
      opacity: 1 !important;
      background-color: #bcbcbc;
      border-radius: 1rem;
    }
  }
}

// Alert Message //

.message-container {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.messages {
  padding: 1rem 1.5rem !important;
  border-radius: 1rem !important;

  .MuiAlert-message {
    @include set-font(1.4rem, inherit, inherit, inherit);
    padding: 0;

    .title {
      @include set-flex(row, space-between, center);
      font-size: 1.4rem;

      .close-message {
        width: 3.2rem;
        height: 3.2rem;
        min-width: auto;
        padding: 0;
      }
    }
  }
}

/* tree */
.information-searching-container {
  .information-searching-box {
    .information-searching-header {
      .filter-container {
        .filter-box {
          flex: 1;
          @include set-flex(row, flex-start, center);
          margin: 0 -1rem;
          .select-list {
            flex: 1;
            margin: 0 1rem;
            .label {
              margin-bottom: 0.4rem;
              @include set-font(1.3rem, 700, #191919, normal);
              white-space: nowrap;
            }
          }
        }
        .button-container {
          margin: 0 2rem;
        }
      }
    }

    .information-searching-content {
      @include set-flex(row, space-between, flex-start);
    }
  }
}

.check-list-container {
  flex: 1;
  width: calc(50% - 0.7rem);
  .check-list-box {
    .check-list-header {
      padding: 1rem 2rem;
      border: 1px solid #e5e5e5;
      background-color: #fbfbfb;
      .title {
        @include set-font(1.3rem, 700, #191919, normal);
      }
    }
  }

  .check-list {
    max-height: 33.6rem;
    overflow-y: auto;
    > .list {
      &:first-child {
        border-top: 0;
      }
      &:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
    .list {
      position: relative;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      &.checked {
        background-color: rgba(#fff6f6, 0.8);
      }
      &.incomplete {
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          right: 1.5rem;
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          background: asset-image('ic_ns_br.png') no-repeat center / 1.5rem;
          transform: translateY(-50%);
        }
      }
      &.complete {
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          right: 1.5rem;
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          background: asset-image('ic_check_br.png') no-repeat center / 1.5rem;
          transform: translateY(-50%);
        }
      }
      .list-container {
        padding: 0.6rem 0.8rem;
        .check {
          @include set-flex(row, flex-start, center);
          .label {
            @include set-flex(row, flex-start, center);
            margin-left: 2.2rem;
            @include set-font(1.3rem, 400, #191919, normal);
            &::before {
              content: '';
              display: block;
              width: 0.3rem;
              height: 0.3rem;
              margin-right: 0.5rem;
              background-color: rgba(0, 0, 0, 0.9);
            }
          }
        }
      }
    }

    .check-list-2depth-container {
      .list-container {
        .check {
          .label {
            margin-left: 4.7rem;
          }
        }
      }
    }
    .check-list-3depth-container {
      .list-container {
        .check {
          .label {
            margin-left: 5.7rem;
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}

/* message */
.announce-container {
  position: relative;
  max-width: 128rem;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fbfbfb;
  .announce-box {
    .btn-close {
      position: absolute;
      top: 1rem;
      right: 2rem;
      width: 1.4rem;
      height: 1.4rem;
      background: asset-image('ic_close.png') no-repeat center / 1.4rem;
    }
    .announce-content {
      .message {
        @include set-font(1.4rem, 400, #191919, 2rem);
      }
    }

    .announce-footer {
      @include set-flex(row, flex-end, flex-start);
    }
  }
}

/* filter container */
.filter-container {
  overflow: hidden;
  position: relative;
  //max-height: 10.1rem;
  margin-bottom: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fbfbfb;

  &.active {
    max-height: none !important;
    .btn-filter-collapse {
      background: asset-image('btn_filter_close.png') no-repeat center / 3rem;
    }
  }

  .filter-box {
    padding: 1rem 2rem;
    .row {
      @include set-flex(row, flex-start, center);
      margin-top: 0.4rem;
      &:first-child {
        margin-top: 0;
      }

      .field-container {
        @include set-flex(row, flex-start, center);
        flex: 1;
      }

      .field {
        label {
          min-width: 10.4rem;
          max-width: 10.4rem;

          + .MuiInput-root {
            width: 18rem;
          }

          + .select-box {
            width: 18rem;
          }

          + .MuiTextField-root {
            width: calc(100% - 11.4rem);
          }
        }

        &.field-type-text {
          max-width: 100%;
        }
        &.field-type-textarea {
          width: 100%;
        }

        &.field-type-select {
          .select-box {
            border-bottom: 1px solid #ccc;
          }
        }
      }

      .button-container {
        margin-left: 1rem;
      }
    }
  }

  .btn-filter-collapse {
    z-index: 22;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 3rem;
    height: 3rem;
    background: asset-image('btn_filter_open.png') no-repeat center / 3rem;
  }
}

// tablet/
@media (pointer: coarse) and (width: 1200px) {
  // button //
  button {
    &.MuiButtonBase-root {
      min-width: 18rem;
      height: 7rem;
      border-radius: 0.6rem;
      @include set-font(3.1rem, 400, #000, normal);
    }
  }

  // radio //
  .field-type-radio {
    .MuiFormControl-root {
      .MuiFormGroup-root {
        @include set-flex(row, flex-start, center);
        label {
          min-width: 14rem;
          margin-left: 4rem;
          margin-right: 0;
          &:first-child {
            margin-left: 0;
          }
          .MuiRadio-root {
            .css-1i4cj80 {
              width: 3.6rem;
              height: 3.6rem;
              background-size: 3.6rem;
            }
          }
          .MuiTypography-root {
            @include set-font(2.85rem, 400, rgba(0, 0, 0, 0.9), normal);
            letter-spacing: -0.071rem;
          }
        }
      }
    }
  }

  // Datepicker //
  .field-type-datepicker {
    .MuiInputBase-root {
      width: 100%;
    }

    input {
      height: 6.4rem;
      padding: 0 3.5rem 0 2rem;
      border: 1px solid transparent;
      border-bottom-color: #d8d8d8;
      background: transparent asset-image('ic_calendar.png') no-repeat calc(100% - 1.5rem) center /
        3rem;
      @include set-font(2.85rem, 400, rgba(0, 0, 0, 0.9), normal);
      letter-spacing: -0.071rem;
    }

    .separator {
      margin: 0 2.2rem;
      @include set-font(2.85rem, 400, rgba(0, 0, 0, 0.9), normal);
      letter-spacing: -0.071rem;
    }
  }
  div {
    &.rs-picker-menu {
      .rs-calendar {
        .rs-calendar-view {
          .rs-calendar-table {
            .rs-calendar-table-row {
              .rs-calendar-table-cell {
                // by 최현일
                // 아니 대체 today에 background-color를 왜넣나요? 오늘만 강조해야 하는 이유가 있음?
                // &.rs-calendar-table-cell-is-today {
                //   .rs-calendar-table-cell-content {
                //     background-color: #f24851;
                //   }
                // }
              }
            }
          }
        }
      }

      .rs-calendar-month-dropdown {
        .rs-calendar-month-dropdown-row {
          .rs-calendar-month-dropdown-year {
            &.rs-calendar-month-dropdown-year-active {
              color: #f24851;
            }
          }
          .rs-calendar-month-dropdown-list {
            .rs-calendar-month-dropdown-cell {
              &.rs-calendar-month-dropdown-cell-active {
                .rs-calendar-month-dropdown-cell-content {
                  background-color: #f24851;
                  color: #fefefe;
                }
              }

              .rs-calendar-month-dropdown-cell-content {
                &:hover {
                  background-color: #f24851;
                  color: #fefefe;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* tab */
.MuiPaper-root {
  &.tab-container {
    margin: 1rem 0;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    .MuiTabs-root {
      .MuiButtonBase-root {
        @include set-font(1.4rem, 400, #191919, normal);
        &.Mui-selected {
          border-top-left-radius: 0.4rem;
          border-top-right-radius: 0.4rem;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border: 1px solid #f8c4c6;
          background-color: #fff;
          color: #f8c4c6;
        }
      }

      .MuiTabs-indicator {
        background-color: #f8c4c6;
      }
    }
  }
}

/* Modal popup */
.MuiDialog-container {
  .MuiPaper-root {
    min-width: 60rem;
    padding: 3rem;
    border-radius: 0;
    border: 1px solid #e5e5e5;
    background-color: #fbfbfb;
    box-shadow: 0px 20px 50px 0 rgba(0, 0, 0, 0.05);

    > .MuiTypography-root {
      padding: 0 0 1.6rem;
      border-bottom: 1px solid #e5e5e5;
      @include set-font(1.8rem, 700, rgba(25, 25, 25, 0.9), normal);
    }

    .MuiDialogContent-root {
      padding: 1.5rem 0;
      .MuiDialogContentText-root {
        &.MuiTypography-root {
          p {
            max-width: 41rem;
            margin: auto;
            margin-bottom: 0;
            @include set-font(1.6rem, 400 !important, #191919, 2.4rem);
            text-align: center;
          }
        }
      }

      .MuiTextField-root {
        width: 100%;
        .MuiInput-root {
          padding: 0;
          border: 0;
        }
      }
    }

    .MuiDialogActions-root {
      @include set-flex(row, center, center);
      padding: 0;
    }
  }
}
