@charset 'UTF-8';

@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

.theme-dark {
  .profile-container {
    .profile-box {
      .box-header {
        .bookmark {
          background:asset-image('ic_add_d.png') no-repeat center / 1.1rem 1.4rem;
        }
      }
    }
  }
}

.profile-container {
  display:none;
  z-index:21;
  position:absolute;
  top:calc(100% + 0.3rem);
  right:-2rem;
  width:32.8rem;
  border:1px solid #e5e5e5;
  border-radius:2rem;
  background-color:#fbfbfb;
  box-shadow: 0px 20px 50px 0 rgba(0, 0, 0, 0.05);
  &.active {
    display:block;
  }

  .profile-box {
    padding:2rem;
    .box-header {
      @include set-flex(row, flex-end, center);
      .bookmark {
        width:1.1rem;
        height:1.4rem;
        background:asset-image('ic_add.png') no-repeat center / 1.1rem 1.4rem;
      }
      
      .btn-close {
        width:1.5rem;
        height:1.5rem;
        margin-left:1rem;
        background:asset-image('ic_close.png') no-repeat center / 1.5rem;
      }
    }

    .box-content {
      margin-top:0.6rem;
      .user {
        @include set-flex(row, flex-start, center);
        .picture {
          position:relative;
          overflow:hidden;
          width:5.9rem;
          height:5.9rem;
          border-radius:100%;
          border:1px solid #ebebeb;
          background-color:#faf1e4;
          img {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            display:block;
            width:100%;
            height:auto
          }
        }

        .profile {
          margin-left:1.5rem;
          .name {
            @include set-font(1.8rem, 700, #000, normal);
          }
          .division {
            margin-top:0.6rem;
            @include set-font(1.4rem, 400, #000, normal);
          }
        }
      }


      .user-information-select-container {
        margin-top:2rem;
        .select-box {
          width:100%;
          padding:1.7rem 0;
          border-bottom:1px solid #e5e5e5;
        }
      }

      .button-container {
        margin-top:2rem;
        text-align:center;
      }
    }
  }
}
